.container{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: inherit;
    border: 1px solid goldenrod;
    border-radius: 5px;
    margin-top: 20px; 
}

.title{
    color: crimson;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

.sub-container{
    display: flex;
    flex-direction: row wrap; 
    justify-content: space-evenly;
    margin-bottom: 10px;
    font-family: 
        'Lucida Sans', 
        'Lucida Sans Regular', 
        'Lucida Grande', 
        'Lucida Sans Unicode', 
        Geneva, 
        Verdana, 
        sans-serif;
}

.registration-box{
    border: 1px solid indianred;
    border-radius: 5px;
    padding: 10px;
    flex: 1 2 200px;
    margin-right: 3px;
}

.display-box{
    border: 1px solid indianred;
    border-radius: 5px;
    padding: 10px;
    flex: 1 2 200px;
    margin-left: 3px;
}


@media all and (max-width: 600px) {
	.sub-container{
        flex-direction: column;
    }	
    .registration-box{
        margin-bottom: 5px;
    }
}