<div>
    <form [formGroup]="userform" (ngSubmit)="onSubmitForm()">

        NAME: <input type="text"   formControlName="name" required class="form-control"> 
        AGE:  <input type="number" formControlName="age"  required class="form-control">
        CITY: <input type="text"   formControlName="city" required class="form-control">
        AREA: <input type="text"   formControlName="area" required class="form-control"><br>

        <button type="submit" class="form-control btn btn-success">add record</button>
        {{userform.value | json}}  
    </form>
</div>

